/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*VARIABLES*/
:root {
  /*COLORS*/
  --color: 0;
  --background-color: hsla(var(--color), 65%, 50%, 0.8);
  --text-color: hsla(0, 0%, 96%, 1);
  --title-color: hsla(0, 0%, 15%, 1);
  --section-color: hsla(0, 0%, 97%, 1);
  --footer-color: hsla(var(--color), 7%, 44%, 1);

  /*FONTS*/
  --title-fontsize: 2rem;
  --text-fontsize: 1.5rem;
  --font: 'Ubuntu', sans-serif;
}

/* BÁSICO*/
html {
  scroll-behavior: smooth;
}
body {
  background: var(--section-color);
}

.container {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.grid {
  display: grid;
  gap: 6rem;
}

.divider {
  height: 1px;
  width: 100%;

  background: linear-gradient(
    270deg,
    hsla(var(--color), 36%, 57%, 1) 0%,
    hsla(var(--color), 65%, 88%, 0.34) 100%
  );
}

/*OLA*/
#ola {
  background: rgb(228, 218, 218);
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.boas-vindas {
  text-align: center;
}

.boas-vindas h2,
.boas-vindas p {
  padding-top: 1rem;
  font-weight: bold;
  color: var(--title-color);
}

.boas-vindas h2 {
  font: 700 calc(1.5 * var(--title-fontsize)) var(--font);
}
.boas-vindas .text {
  padding-top: 2rem;
}

.boas-vindas .text p {
  font: 300 calc(1.5 * var(--text-fontsize)) var(--font);
}

.boas-vindas .divider {
  background: black;
  margin: 6rem 10rem;
  width: auto;
}

.animatedwrapper {
  opacity: 0.7;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100%;
  height: 2000px;
  isolation: isolate;
}

/*Toda essa parte animada eu admito que "roubei" de um utro site, mas achei que ficava legal então coloquei aqui hehe*/
.dot {
  opacity: 0.8;
  --size: 500px;
  display: none;
  position: absolute;
  left: calc(var(--size) / 3 * -1);
  top: calc(var(--size) / 3 * -1);
  width: var(--size);
  height: var(--size);
  mix-blend-mode: soft-light;
  border-radius: var(--size);
  filter: blur(calc(var(--size) / 6));
  animation: dot-animation ease-in-out 20s infinite;
  will-change: transform;
}

@supports (mix-blend-mode: soft-light) and (filter: blur(1px)) {
  .animatedwrapper {
    background: none;
  }

  .dot {
    display: block;
  }
}

.dot--one {
  background: #ed2a24;
  left: 10 rem;
}

.dot--two {
  background: #f48937;
  animation-delay: -7s;
  left: 40rem;
}

.dot--three {
  left: 25rem;
  top: 5rem;
  background: #bd3690;
  animation-delay: -14s;
}

@keyframes dot-animation {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(calc(var(--size) / 1.5), 0);
  }
  66% {
    transform: translate(0, calc(var(--size) / 1.5));
  }
  100% {
    transform: translate(0, 0);
  }
}

/*APRESENTAÇÃO*/

#apresentação {
  padding-top: 5rem;
  padding-bottom: 6rem;

  background: var(--section-color);

  display: flex;
  justify-content: center;
}

#apresentação .card {
  background: var(--background-color);
  text-align: center;
  align-self: center;

  border-radius: 2rem;

  width: 17.5%;
}

#apresentação .card .title {
  color: var(--text-color);
  font: 700 var(--title-fontsize) var(--font);
  padding: 1rem;
}

#apresentação .text {
  color: var(--title-color);
  font: 400 var(--text-fontsize) var(--font);

  width: 20%;
}

#apresentação .image {
  width: 100%;
  max-width: 15rem;
  height: auto;

  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgb(184, 165, 165);

  margin-left: 4rem;
  margin-right: 4rem;
}

/*PERFIL*/
#perfil {
  background: white;
  padding-top: 5rem;
}

.painel {
  display: flex;

  justify-content: space-between;

  margin: 0 1rem;
  padding-bottom: 8rem;
}

.painel .text1,
.painel .text2,
.painel .image {
  max-width: 60%;
  margin: 0 5rem;
  z-index: 1;
}

.painel h2 {
  font: 700 var(--title-fontsize) var(--font);
}

.painel .text1 p,
.painel .text2 p {
  padding-top: 2rem;

  font: 300 var(--text-fontsize) var(--font);
}

.painel .text2 p,
.painel .text2 h2 {
  text-align: right;
}

#perfil .image {
  position: relative;
}

#perfil .image img {
  position: relative;
}

#perfil .image::before {
  content: '';
  height: 20rem;
  width: 20rem;
  border-radius: 50%;

  background: hsla(var(--color), 60%, 60%, 0.5);

  top: -50px;
  right: -100px;

  position: absolute;
  z-index: 0;
}

/*conhecimentos*/
#conhecimentos {
  padding-bottom: 6rem;

  background: var(--section-color);
}

#conhecimentos .title {
  padding-top: 2rem;
  display: flex;

  font: 700 var(--title-fontsize) var(--font);

  justify-content: center;
}

#conhecimentos .cards {
  display: flex;
  gap: 6rem;
  justify-content: center;
}

.cards h2 {
  font: 700 var(--title-fontsize) var(--font);
}

.cards p {
  font: 300 var(--text-fontsize) var(--font);
}

#conhecimentos .card1,
#conhecimentos .card2 {
  text-align: center;
  justify-content: center;
  width: 30%;

  height: auto;
  border-radius: 1.5rem;

  box-shadow: 1px 1px 10px 1.2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

#card1:hover,
#card2:hover,
#card3:hover {
  box-shadow: 0.75rem 0.75rem rgb(39, 37, 37);

  margin-right: 2rem;
  height: 120%;
  width: 40%;
}

#conhecimentos .card2 {
  background: var(--background-color);
}

#conhecimentos .card1 {
  background: var(--white);
}

#conhecimentos .card1 .title,
#conhecimentos .card2 .title {
  margin: 1rem;
}

#conhecimentos .card2 .text,
#conhecimentos .card2 .title {
  color: var(--text-color);
}

/*FOOTER*/
footer {
  background: hsla(var(--color), 25%, 25%, 0.6);
}

footer h2 {
  color: var(--text-color);

  padding-top: 2rem;
}

footer .grid {
  gap: 1rem;

  padding-top: 2rem;
}
